# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
myenv/

# Ignore node modules
node_modules/

# Ignore large data/model files
*.pkl
*.zip
*.csv

# Ignore OS files
Thumbs.db
.DS_Store
similarity.pkl 
